.container{
    background-color: yellow;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: repeat(2, 100px);

    height: 700px;
    width: 100%;

    grid-gap: 10px;

    /* justify-content: start;
    justify-content: end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-evenly;
    justify-content: space-around; */

    /* align-items: end;
    align-items: top;
    align-items: baseline;
    align-items: stretch; */

    /* align-content: space-around;
    align-content: space-evenly;
    align-content: space-between; */

    /* justify-content: center;
    align-content: center; */

    /* place-content: center; */
    /* place-items: center; */

    /* justify-items: center;
    align-items: center; */
}

.box{
    background-color: aqua;
    border: 2px solid black;
}

#box1{
    /* justify-self: center;
    justify-self: start;
    justify-self: end; */

    /* align-self:center;
    align-self: start;
    align-self:end; */

    place-self: start;
    place-self: center;
    place-self: end;
}